@code {
    [Parameter]
    public string ImagePath { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public EventCallback OnButtonClick { get; set; }

    [Parameter]
    public bool ShowErrorMessage { get; set; } = false;

    [Parameter]
    public string ErrorMessage { get; set; }
}

<div class="subscription-content">
    <img src="@ImagePath" alt="Status Image" />
    <p>@Message</p>
    @if (ShowErrorMessage && !string.IsNullOrEmpty(ErrorMessage))
    {
        <span class="alert-danger">@ErrorMessage</span>
        <br />
    }
    <button class="btn btn-primary" @onclick="OnButtonClick">@ButtonText</button>
</div>

