@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using SubscriptionAutomaton.Extensions.Sessions
@using Microsoft.AspNetCore.Components.Authorization
@inject ProtectedSessionStorage sessionStorage
@inject NavigationManager navigation
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Онлайн-сервис</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <AuthorizeView>
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Главная
                </NavLink>
                <NavLink class="nav-link" href="payment/confirm">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Оплата
                </NavLink>
                <NavLink class="nav-link" href="logout">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Выход
                </NavLink>
            </AuthorizeView>
        </div>
    </nav>
</div>

@code{
    private bool isAuthenticated;
        
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        isAuthenticated = await sessionStorage.IsAuth();
        if (!isAuthenticated && navigation.Uri.Split("/").Last(pathPart => !string.IsNullOrEmpty(pathPart)).ToLower() != "login")
        {
            navigation.NavigateTo("login");
        }
    }
}
